<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 12</title>
    <link rel="stylesheet" href=".././styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="../">Sparkman</a>
      </div>
      <div class="links">
        <a href="./about">About</a>
        <a href="./">Contact</a>
      </div>
    </nav>
    <div class="app">
      <h1>Contact</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta natus
        amet eos impedit aspernatur sint dignissimos aliquam, molestiae voluptas
        ad magni nam consectetur, ducimus veritatis reiciendis quisquam, dolor
        repellendus sunt? Magni distinctio, voluptate vel pariatur, enim
        possimus aspernatur ipsa minima deserunt quisquam numquam? Quaerat,
        ullam blanditiis enim, corporis perferendis fugit corrupti velit minima
        similique et in quas incidunt rem dolorum! Odit fugit dolor provident
        esse ab labore placeat at facere nemo necessitatibus explicabo ipsum
        repudiandae, laboriosam impedit modi similique optio exercitationem
        deleniti aliquid voluptatibus neque ullam perferendis enim cumque. Quis.
        Cum veritatis voluptate laborum, nam deserunt vero laboriosam possimus
        provident eum illo, aliquam maiores molestias facere? Aliquid ducimus at
        molestias quae. Nobis atque dicta natus reiciendis rerum nostrum
        voluptate debitis. Ex exercitationem itaque sequi natus nihil odio
        necessitatibus quidem modi? Doloremque animi iure perspiciatis culpa?
        Odit maiores provident ad ab illum iure error magni nisi consequuntur.
        Blanditiis quis error ipsam. Maiores quas in, eaque error accusantium
        ratione earum mollitia molestiae laboriosam ex, et eveniet id quidem!
        Laudantium ea iste rerum quo corrupti, illum magnam architecto labore
        magni, eaque temporibus perferendis? Pariatur fuga iure nihil voluptates
        ipsum, dolor totam dolore. Et sequi repellendus odio sint quidem
        aspernatur. Quam, facilis? Saepe facere esse earum incidunt itaque ipsam
        asperiores maiores sequi odio quos. At inventore distinctio nostrum
        dolor possimus molestias debitis praesentium accusantium, deserunt ea
        iusto mollitia velit hic fugiat, tempora odit expedita impedit.
        Voluptatem distinctio numquam provident sit aut asperiores architecto
        voluptate? Sequi similique minima, incidunt perspiciatis qui laborum ex
        labore ipsum aperiam et maxime ipsa nesciunt consequatur, dolorem
        quisquam iusto autem, rem praesentium molestiae debitis id quis!
        Delectus quod facilis quibusdam. Ex eveniet ullam similique odit id
        blanditiis illum expedita fugit. Asperiores porro provident
        necessitatibus soluta, voluptate, molestiae natus quisquam cupiditate
        unde ad exercitationem molestias odit, doloremque iure illo nemo
        impedit.
      </p>
    </div>
  </body>
</html>
