<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 12</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="./index.html">Sparkman</a>
      </div>
      <div class="links">
        <a href="./about">About</a>
        <a href="./contact">Contact</a>
      </div>
    </nav>
    <div class="app">
      <h1>Friends</h1>
      <button onclick="refreshFriends()">Refresh</button>
      <input type="text" placeholder="Enter Your Name" id="myName" />
      <button onclick="joinFriends()">Join</button>
      <ul id="allFriends"></ul>
    </div>
    <script type="module" src="app.js"></script>
  </body>
</html>
