<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 12</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">Sparkman</a>
      </div>
      <div class="links">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>
    <div class="app">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        architecto modi facere nostrum ratione repellat vel aperiam aspernatur
        molestias iure?
      </p>
    </div>
  </body>
</html>
